notifiers:
  - name: "IAQ alert"
    type: telegram
    uid: notifier1
    org_name: "Main Org."
    settings:
      bottoken: ## your bot token here ##
      chatid: ## your chat ID here ##
      uploadImage: true